{% extends "proggegruppe/layout.html" %}

{% block body %}

    <h1>{{ lesson }}</h1>
    <h3>Task {{ task.id }}</h3>
    <h4>Description</h4>
    <p>{{ task.description | safe }}</p>
    <h4>Code Snippet</h4>
    <form action = "{% url 'task' course lesson.id task.id %}" method="post">
    {% csrf_token %}
    {% for field in fields %}
        
        <label for="field{{ field.id }}">{{ field.code_snippet }}</label>
        <input id="field{{ field.id }}" name="field{{ field.id }}" type="text" {{ field.field_attributes }}>
        <em>{{ field.instruction }}</em>
        <br>
        <br>
    {% endfor %}  

  
         {{ message }}
   
    <input type="submit" value="Next">
    
    {% for c in conditionals %}
        <p>{{ c }}</p>
    {% endfor %}
    {% if task.has_ide == True %}
    
        <iframe {{ task.iframe_parameters }}></iframe>

    {% endif %}

    <h4>Hints</h4>
    <p>{{ task.hints | safe }}</p>
    <h4>Solution</h4>
    <p>{{ task.solution | safe }}</p>
    <h4>Points</h4>
    <p>{{ task.points }}</p>



{% endblock %}